<div ng-controller="MainCtrl" id="mainWrapper">

    <!-- Header Video/Into Media -->
    <div class="mainHeader">
        <div class="container mainContainer">
            <div class="row">
                <div class="mainBody col-md-12">
                    <h1 class="titles">Hitched</h1>
                    <p class="text-muted">because you're going to be</p>  <!-- need a better catch phrase -->

                    <div>    
                        <a ng-hide="isLoggedIn()" href="" ng-click="open('signup', 'SignupCtrl')" class="btn btn-default">Get Started</a>
                    </div>

                    <div class="loginBody">
                        <a ng-hide="isLoggedIn()" href="" ng-click="open('login', 'LoginCtrl')">Have an account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="social_share_buttons_id">
        <div class="twitter_cls"></div>
        <iframe class="fb_cls" src=""></iframe>
        <div class="pinterest_wrapper_cls"></div>
    </div>

    <!-- Fixed navbar -->
<!--     <div ng-include="'components/navbar/navbar.html'" class="navbar navbar-inverse" id="nav" affix></div>  -->
    
    <!-- ABOUT APP -->
<!--     <div class="divider" id="aboutSection"></div>  -->    
    <div ng-include="'app/guest/about'" class="container"></div>
    <div class="divider"></div>

    <!-- BACKGROUND 1 -->
    <section class="bg-1">
        <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    <!-- GAMES -->
    <div class="divider" id="gamesSection"></div>
    <div ng-include="'app/guest/games'" class="row"></div>
    <div class="divider"></div>

    <!-- BACKGROUND 5 -->
    <section class="bg-5">
        <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    <!-- PHOTOS -->
    <div class="divider" id="photosSection"></div>
    <div ng-include="'app/guest/photos'" class="row"></div>
    <div class="divider"></div>

    <!-- BACKGROUND 5 -->
    <section class="bg-5">
        <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    <!-- GUEST LIST -->
    <div class="divider" id="photosSection"></div>
    <div ng-include="'app/guest/guests'" class="row"></div>
    <div class="divider"></div>

    <!-- BACKGROUND 5 -->
    <section class="bg-5">
        <div class="col-sm-6 col-sm-offset-3 text-center"></div>
    </section>

    <!-- CONTACT US FORM -->
    <div class="divider" id="contactSection"></div>
    <div ng-include="'app/guest/contact'" class="row"></div>
    <div class="divider"></div>

</div>

<div id="footer">
    <div class="container">
        <p class="text-muted">The Hitched App - Copyright ©<span id="copyrightYear"></span></p>
    </div>
</div>

<ul id="scroll-top" class="nav pull-right scroll-top">
    <li><a href="" ng-click="scrollTop()" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>

<script type="text/javascript">
$("#copyrightYear").text(new Date().getFullYear());
</script>