<div class="row" id="GamesCtrl" ng-controller="GamesCtrl">
    <div class="page-header text-center">
        <h1>Games</h1>
    </div>
    <div class="col-md-12">
        <section class="content">

            <!-- Game Selection -->
            <div class="row">
                <div ng-repeat="item in gameTypes" ng-click="selectGame(item.template)" class="col-lg-6 col-xs-6" ng-class="{ 'active': item.template == currGame, 'inactive': (currGame != '' && item.template != currGame) }">
                    <div class="small-box {{item.class}}">
                        <div class="inner">
                            <h3>{{item.title}}</h3>
                            <p>{{item.info}}</p>
                        </div>
                        <span class="icon octicon {{item.octicon}}"></span>
                        <a class="small-box-footer">
                            <span class="glyphicon glyphicon-plus"></span>Create
                        </a>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div ng-include src="currGameSrc" ng-hide="currGame == ''" class="row"></div>

            <!-- Existing Saved Games -->
            <div ng-show="currGame == ''" class="row well">
                Existing Games
                <div ng-repeat="item in userGames">
                    <ul class="game-sublist">
                        <li class="list-header">
                            <span class="octicon octicon-pencil" ng-click="editGame($index)"></span>
                            <span class="octicon octicon-trashcan" ng-click="deleteGame($index)"></span>
                            <span class="list-header-info">{{item.type}}</span>
                        </li>
                    </ul>
                </div>
            </div>

        </section>
    </div>