<div id="dashboardWrapper" ng-Controller="DashboardCtrl">

    <div id="social_share_buttons_id">
        <div class="twitter_cls"></div>
        <iframe class="fb_cls" src=""></iframe>
        <div class="pinterest_wrapper_cls"></div>
    </div>

    <!-- Fixed navbar -->
    <div ng-include="'components/navbar/navbar.html'" affix="" class="navbar navbar-inverse" id="nav"></div>

    <div class="divider"></div>

    <div class="container">
        <div class="row">

            <!-- Features Menu -->
            <div class="features col-sm-2" ng-class="{ 'hidden': currFeature == 'welcome' }">
                <div id="sidebarL" class="affix">
                    <div class="header">
                        <ul class="nav nav-pills pull-right">
                            <li ng-repeat="item in features" ng-class="{ 'active': item.template == currFeature }">
                                <a href="" ng-click="selectFeature(item.template)">
                                    <img ng-src="item.img" width="75px" height="75px" />
                                    <br />{{item.title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="container dashboardSection" ng-class="{ 'col-sm-12': currFeature == 'welcome', 'col-sm-10': currFeature != 'welcome' }">
                <div ng-include src="currFeatureSrc" class="row"></div>
            </div>

        </div>
    </div>

</div>